# Logs
*.log

# Node
node_modules/

# Cache
__pycache__/
*.pyc
.cache/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Dados temporários
temp/
tmp/

desafios.json
duplas.json
jogadores.json

passwords.txt

.env
player-auth-credentials.csv
create-player-auth.sh
create-player-auth.bat
